<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="Password" [(ngModel)]="cpassword"></ion-input>
  </ion-item>
  <ion-button expand="block" color="tertiary" padding (click) = "register()" fill="outline">Register</ion-button>
</ion-content>
